In [1]:
import sqlite3
import pandas as pd

pd.set_option('max_columns', 180)
pd.set_option('max_rows', 200000)
pd.set_option('max_colwidth',5000)

## Getting to Know the Data

Performing EDA on our files to get a feel for the columns involved and relationships between fields and files.

In [2]:
# There is a file (game_log_fields.txt) that gives some information about fields in our main table.
#!cat game_log_fields.txt

#uncomment next line to delete the database file and start over
#!rm mlb.db # on unix
#!del /F mlb.db # on windows

### Main File

In [3]:
game_log = pd.read_csv("game_log.csv", low_memory = False)
print(game_log.shape)
game_log.head()

(171907, 161)

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,NaN,1,FW1,NaN,1,0,2,54.0,D,NaN,NaN,NaN,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,6.0,1.0,NaN,-1.0,NaN,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,31.0,4.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,NaN,-1.0,NaN,3.0,1.0,0.0,0.0,0.0,0.0,27.0,3.0,3.0,1.0,1.0,0.0,boakj901,John Boake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,lennb101,Bill Lennon,mathb101,Bobby Mathews,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,mathb101,Bobby Mathews,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,NaN,1,WS3,NaN,1,20,18,54.0,D,NaN,NaN,NaN,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,NaN,5.0,3.0,NaN,-1.0,NaN,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,49.0,14.0,2.0,0.0,0.0,11.0,0.0,0.0,0.0,10.0,NaN,2.0,1.0,NaN,-1.0,NaN,14.0,1.0,7.0,7.0,0.0,0.0,27.0,20.0,10.0,2.0,3.0,0.0,dobsh901,Henry Dobson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,younn801,Nick Young,spala101,Al Spalding,braia102,Asa Brainard,NaN,NaN,NaN,NaN,spala101,Al Spalding,braia102,Asa Brainard,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,18710506,0,Sat,CL1,NaN,2,RC1,NaN,1,12,4,54.0,D,NaN,NaN,NaN,RCK01,1000.0,140.0,610020003,010020100,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0,36.0,7.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,NaN,3.0,5.0,NaN,-1.0,NaN,5.0,1.0,3.0,3.0,1.0,0.0,27.0,12.0,13.0,3.0,0.0,0.0,mawnj901,J.H. Manny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,hasts101,Scott Hastings,prata101,Al Pratt,fishc102,Cherokee Fisher,NaN,NaN,NaN,NaN,prata101,Al Pratt,fishc102,Cherokee Fisher,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,8.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,18710508,0,Mon,CL1,NaN,3,CH1,NaN,1,12,14,54.0,D,NaN,NaN,NaN,CHI01,5000.0,150.0,101403111,077000000,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,NaN,-1.0,NaN,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0,43.0,11.0,2.0,0.0,0.0,8.0,0.0,0.0,0.0,4.0,NaN,2.0,1.0,NaN,-1.0,NaN,6.0,1.0,4.0,4.0,0.0,0.0,27.0,14.0,7.0,2.0,0.0,0.0,willg901,Gardner Willard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,paboc101,Charlie Pabor,woodj106,Jimmy Wood,zettg101,George Zettlein,prata101,Al Pratt,NaN,NaN,NaN,NaN,prata101,Al Pratt,zettg101,George Zettlein,whitd102,Deacon White,2.0,kimbg101,Gene Kimball,4.0,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,18710509,0,Tue,BS1,NaN,2,TRO,NaN,1,9,5,54.0,D,NaN,NaN,NaN,TRO01,3250.0,145.0,000002232,101003000,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,NaN,0.0,1.0,NaN,-1.0,NaN,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0,36.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,NaN,0.0,2.0,NaN,-1.0,NaN,7.0,1.0,3.0,3.0,1.0,0.0,27.0,11.0,7.0,3.0,0.0,0.0,leroi901,Isaac Leroy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wrigh101,Harry Wright,pikel101,Lip Pike,spala101,Al Spalding,mcmuj101,John McMullin,NaN,NaN,NaN,NaN,spala101,Al Spalding,mcmuj101,John McMullin,wrigg101,George Wright,6.0,barnr102,Ross Barnes,4.0,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

In [4]:
game_log.tail()

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,h_score,length_outs,day_night,completion,forefeit,protest,park_id,attendance,length_minutes,v_line_score,h_line_score,v_at_bats,v_hits,v_doubles,v_triples,v_homeruns,v_rbi,v_sacrifice_hits,v_sacrifice_flies,v_hit_by_pitch,v_walks,v_intentional_walks,v_strikeouts,v_stolen_bases,v_caught_stealing,v_grounded_into_double,v_first_catcher_interference,v_left_on_base,v_pitchers_used,v_individual_earned_runs,v_team_earned_runs,v_wild_pitches,v_balks,v_putouts,v_assists,v_errors,v_passed_balls,v_double_plays,v_triple_plays,h_at_bats,h_hits,h_doubles,h_triples,h_homeruns,h_rbi,h_sacrifice_hits,h_sacrifice_flies,h_hit_by_pitch,h_walks,h_intentional_walks,h_strikeouts,h_stolen_bases,h_caught_stealing,h_grounded_into_double,h_first_catcher_interference,h_left_on_base,h_pitchers_used,h_individual_earned_runs,h_team_earned_runs,h_wild_pitches,h_balks,h_putouts,h_assists,h_errors,h_passed_balls,h_double_plays,h_triple_plays,hp_umpire_id,hp_umpire_name,1b_umpire_id,1b_umpire_name,2b_umpire_id,2b_umpire_name,3b_umpire_id,3b_umpire_name,lf_umpire_id,lf_umpire_name,rf_umpire_id,rf_umpire_name,v_manager_id,v_manager_name,h_manager_id,h_manager_name,winning_pitcher_id,winning_pitcher_name,losing_pitcher_id,losing_pitcher_name,saving_pitcher_id,saving_pitcher_name,winning_rbi_batter_id,winning_rbi_batter_id_name,v_starting_pitcher_id,v_starting_pitcher_name,h_starting_pitcher_id,h_starting_pitcher_name,v_player_1_id,v_player_1_name,v_player_1_def_pos,v_player_2_id,v_player_2_name,v_player_2_def_pos,v_player_3_id,v_player_3_name,v_player_3_def_pos,v_player_4_id,v_player_4_name,v_player_4_def_pos,v_player_5_id,v_player_5_name,v_player_5_def_pos,v_player_6_id,v_player_6_name,v_player_6_def_pos,v_player_7_id,v_player_7_name,v_player_7_def_pos,v_player_8_id,v_player_8_name,v_player_8_def_pos,v_player_9_id,v_player_9_name,v_player_9_def_pos,h_player_1_id,h_player_1_name,h_player_1_def_pos,h_player_2_id,h_player_2_name,h_player_2_def_pos,h_player_3_id,h_player_3_name,h_player_3_def_pos,h_player_4_id,h_player_4_name,h_player_4_def_pos,h_player_5_id,h_player_5_name,h_player_5_def_pos,h_player_6_id,h_player_6_name,h_player_6_def_pos,h_player_7_id,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
171902,20161002,0,Sun,MIL,NL,162,COL,NL,162,6,4,60.0,D,NaN,NaN,NaN,DEN02,27762.0,203.0,0200000202,1100100010,39.0,10.0,4.0,1.0,2.0,6.0,0.0,0.0,1.0,4.0,0.0,12.0,2.0,1.0,0.0,0.0,8.0,7.0,4.0,4.0,1.0,0.0,30.0,12.0,1.0,0.0,0.0,0.0,41.0,13.0,4.0,0.0,1.0,4.0,1.0,0.0,1.0,3.0,0.0,11.0,0.0,1.0,0.0,0.0,12.0,5.0,6.0,6.0,0.0,0.0,30.0,13.0,0.0,0.0,0.0,0.0,barrs901,Scott Barry,woodt901,Tom Woodring,randt901,Tony Randazzo,ortir901,Roberto Ortiz,NaN,NaN,NaN,NaN,counc001,Craig Counsell,weisw001,Walt Weiss,thort001,Tyler Thornburg,rusic001,Chris Rusin,knebc001,Corey Knebel,susaa001,Andrew Susac,cravt001,Tyler Cravy,marqg001,German Marquez,villj001,Jonathan Villar,5.0,genns001,Scooter Gennett,4.0,cartc002,Chris Carter,3.0,santd002,Domingo Santana,9.0,pereh001,Hernan Perez,8.0,arcio002,Orlando Arcia,6.0,susaa001,Andrew Susac,2.0,elmoj001,Jake Elmore,7.0,cravt001,Tyler Cravy,1.0,blacc001,Charlie Blackmon,8.0,dahld001,David Dahl,7.0,arenn001,Nolan Arenado,5.0,gonzc001,Carlos Gonzalez,9.0,murpt002,Tom Murphy,2.0,pattj005,Jordan Patterson,3.0,valap001,Pat Valaika,4.0,adamc001,Cristhian Adames,6.0,marqg001,German Marquez,1.0,NaN,Y
171903,20161002,0,Sun,NYN,NL,162,PHI,NL,162,2,5,51.0,D,NaN,NaN,NaN,PHI13,36935.0,159.0,000001100,00100031x,33.0,8.0,3.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,9.0,1.0,1.0,1.0,0.0,6.0,6.0,3.0,3.0,0.0,0.0,24.0,12.0,3.0,1.0,2.0,0.0,33.0,10.0,1.0,0.0,0.0,3.0,0.0,1.0,0.0,2.0,0.0,3.0,0.0,0.0,2.0,0.0,7.0,5.0,2.0,2.0,0.0,0.0,27.0,7.0,0.0,0.0,1.0,0.0,barkl901,Lance Barksdale,herna901,Angel Hernandez,barrt901,Ted Barrett,littw901,Will Little,NaN,NaN,NaN,NaN,collt801,Terry Collins,mackp101,Pete Mackanin,murrc002,Colton Murray,goede001,Erik Goeddel,nerih001,Hector Neris,hernc005,Cesar Hernandez,ynoag001,Gabriel Ynoa,eickj001,Jerad Eickhoff,granc001,Curtis Granderson,8.0,cabra002,Asdrubal Cabrera,6.0,brucj001,Jay Bruce,9.0,dudal001,Lucas Duda,3.0,johnk003,Kelly Johnson,4.0,confm001,Michael Conforto,7.0,campe001,Eric Campbell,5.0,plawk001,Kevin Plawecki,2.0,ynoag001,Gabriel Ynoa,1.0,hernc005,Cesar Hernandez,4.0,parej002,Jimmy Paredes,7.0,herro001,Odubel Herrera,8.0,franm004,Maikel Franco,5.0,howar001,Ryan Howard,3.0,ruppc001,Cameron Rupp,2.0,blana001,Andres Blanco,6.0,altha001,Aaron Altherr,9.0,eickj001,Jerad Eickhoff,1.0,NaN,Y
171904,20161002,0,Sun,LAN,NL,162,SFN,NL,162,1,7,51.0,D,NaN,NaN,NaN,SFO03,41445.0,184.0,000100000,23000002x,30.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,7.0,0.0,0.0,1.0,0.0,4.0,7.0,7.0,7.0,0.0,0.0,24.0,5.0,1.0,0.0,0.0,0.0,39.0,16.0,3.0,1.0,0.0,7.0,0.0,0.0,0.0,4.0,1.0,11.0,2.0,1.0,0.0,0.0,12.0,2.0,1.0,1.0,0.0,0.0,27.0,7.0,0.0,0.0,1.0,0.0,knigb901,Brian Knight,westj901,Joe West,fleta901,Andy Fletcher,danlk901,Kerwin Danley,NaN,NaN,NaN,NaN,robed001,Dave Roberts,bochb002,Bruce Bochy,moorm003,Matt Moore,maedk001,Kenta Maeda,NaN,NaN,poseb001,Buster Posey,maedk001,Kenta Maeda,moorm003,Matt Moore,kendh001,Howie Kendrick,7.0,turnj001,Justin Turner,5.0,seagc001,Corey Seager,6.0,puigy001,Yasiel Puig,9.0,gonza003,Adrian Gonzalez,3.0,grany001,Yasmani Grandal,2.0,pedej001,Joc Pederson,8.0,utlec001,Chase Utley,4.0,maedk001,Kenta Maeda,1.0,spand001,Denard Span,8.0,beltb001,Brandon Belt,3.0,poseb001,Buster Posey,2.0,pench001,Hunter Pence,9.0,crawb001,Brandon Crawford,6.0,pagaa001,Angel Pagan,7.0,panij002,Joe Panik,4.0,gillc001,Conor Gillaspie,5.0,moorm003,Matt Moore,1.0,NaN,Y
171905,20161002,0,Sun,PIT,NL,162,SLN,NL,162,4,10,51.0,D,NaN,NaN,NaN,STL10,44615.0,192.0,000020200,00100360x,35.0,9.0,0.0,0.0,1.0,4.0,0.0,0.0,0.0,4.0,0.0,11.0,0.0,1.0,0.0,0.0,8.0,6.0,8.0,8.0,0.0,0.0,24.0,2.0,2.0,0.0,0.0,0.0,36.0,12.0,2.0,0.0,1.0,10.0,0.0,2.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,8.0,3.0,4.0,4.0,0.0,0.0,27.0,7.0,0.0,0.0,1.0,0.0,cuzzp901,Phil Cuzzi,ticht901,Todd Tichenor,vanol901,Larry Vanover,marqa901,Alfonso Marquez,NaN,NaN,NaN,NaN,hurdc001,Clint Hurdle,mathm001,Mike Matheny,broxj001,Jonathan Broxton,nicaj001,Juan Nicasio,NaN,NaN,piscs001,Stephen Piscotty,voger001,Ryan Vogelsong,waina001,Adam Wainwright,jasoj001,John Jaso,3.0,polag001,Gregory Polanco,9.0,mccua001,Andrew McCutchen,8.0,kangj001,Jung Ho Kang,5.0,joycm001,Matt Joyce,7.0,hansa001,Alen Hanson,4.0,fryee001,Eric Fryer,2.0,florp001,Pedro Florimon,6.0,voger001,Ryan Vogelsong,1.0,carpm002,Matt Carpenter,3.0,diaza003,Aledmys Diaz,6.0,moliy001,Yadier Molina,2.0,piscs001,Stephen Piscotty,9.0,peraj001,Jhonny Peralta,5.0,mossb001,Brandon Moss,7.0,gyorj001,Jedd Gyorko,4.0,gricr001,Randal Grichuk,8.0,waina001,Adam Wainwright,1.0,NaN,Y
171906,20161002,0,Sun,MIA,NL,161,WAS,NL,162,7,10,51.0,D,NaN,NaN,NaN,WAS11,28730.0,216.0,000230020,03023002x,38.0,14.0,1.0,1.0,2.0,7.0,1.0,0.0,0.0,3.0,2.0,10.0,1.0,1.0,1.0,0.0,8.0,7.0,10.0,10.0,1.0,0.0,24.0,11.0,0.0,0.0,1.0,0.0,30.0,10.0,2.0,0.0,1.0,10.0,1.0,1.0,1.0,8.0,0.0,3.0,2.0,0.0,1.0,0.0,7.0,6.0,7.0,7.0,1.0,0.0,27.0,11.0,0.0,0.0,1.0,0.0,tumpj901,John Tumpane,porta901,Alan Porter,onorb901,Brian O'Nora,kellj901,Jeff Kellogg,NaN,NaN,NaN,NaN,mattd001,Don Mattingly,baked002,Dusty Baker,schem001,Max Scherzer,brica001,Austin Brice,melam001,Mark Melancon,difow001,Wilmer Difo,koeht001,Tom Koehler,schem001,Max Scherzer,gordd002,Dee Gordon,4.0,telit001,Tomas Telis,2.0,pradm001,Martin Prado,5.0,yelic001,Christian Yelich,8.0,bourj002,Justin Bour,3.0,scrux001,Xavier Scruggs,7.0,hoodd001,Destin Hood,9.0,hecha001,Adeiny Hechavarria,6.0,koeht001,Tom Koehler,1.0,turnt001,Trea Turner,8.0,reveb001,Ben Revere,7.0,harpb003,Bryce Harper,9.0,zimmr001,Ryan Zimmerman,3.0,drews001,Stephen Drew,5.0,difow001,Wilmer Difo,4.0,espid001,Danny Espinosa,6.0,lobaj001,Jose Lobaton,2.0,schem001,Max Scherzer,1.0,NaN,Y

game_log contains one row for each baseball game from 1871 to 2016. It includes basic information on the game's date, location, attendance, etc. as well as detailed game stats for both the home and away team involved in the game. 

Included are IDs and names for:
    - Umpires
    - Managers
    - Pitchers (starting and saving)
    - Starting players (along with defensive position number)
    
#### Defensive Position

Each player listed has a field associated with them containing a defensive position number. A little reasearch gives the information on what these mean.
    
Defensive position number is associated as follows:
    - 1 - pitcher
    - 2 - catcher
    - 3 - first baseman
    - 4 - second baseman
    - 5 - third baseman
    - 6 - shortstop
    - 7 - left fielder
    - 8 - center fielder
    - 9 - right fielder
    
    
#### Leagues

The NL and AL are the current two MLB leauges, but there are a few others listed in the database:

In [5]:
game_log['h_league'].value_counts()

NL    88867
AL    74712
AA     5039
FL     1243
PL      532
UA      428
Name: h_league, dtype: int64

The leagues listed are as follows:
    - NL - National League (1876 - )
    - AL - American League (1901 - )
    - AA - American Association (1881-1891)
    - FL - Federal League (1913 - 1915)
    - PL - Players' League (1890)
    - UA - Union Association (1884)
    
So the other leagues listed are early competitors to the AL and NL that did not last long.

### Helper Files

In [6]:
park_codes = pd.read_csv("park_codes.csv")
park_codes.tail()

,park_id,name,aka,city,state,start,end,league,notes
247,WIL02,BB&T Ballpark at Bowman Field,NaN,Wiliamsport,PA,08/20/2017,08/20/2017,NL,PIT
248,WNY01,West New York Field Club Grounds,NaN,West New York,NJ,09/11/1898,09/17/1899,NL,"BRO:9/18&10/2/1898; NY1:9/11/98, 6/4&7/16&8/13&9/17/99"
249,WOR01,Agricultural County Fair Grounds I,NaN,Worcester,MA,05/01/1880,09/29/1882,NL,NaN
250,WOR02,Agricultural County Fair Grounds II,NaN,Worcester,MA,08/17/1887,08/17/1887,NL,1 BSN game
251,WOR03,Worcester Driving Park Grounds,NaN,Worcester,MA,10/30/1874,10/30/1874,NaN,1 BS1 game

park_codes is a list of baseball parks and includes information about where the parks are, when they were in existence and what league they belonged to.

The park_id field can link to the park_id field in game_log.

In [7]:
person_codes = pd.read_csv("person_codes.csv")
person_codes.tail()

             id      last   first player_debut mgr_debut coach_debut ump_debut
20489  zuvep001   Zuvella    Paul   09/04/1982       NaN  04/02/1996       NaN
20490  zuveg101  Zuverink  George   04/21/1951       NaN         NaN       NaN
20491  zwild101  Zwilling   Dutch   08/14/1910       NaN  04/15/1941       NaN
20492  zycht001      Zych    Tony   09/04/2015       NaN         NaN       NaN
20493  thoma102  Thompson     NaN          NaN       NaN         NaN       NaN

person_codes is a list of people involved in baseball statstics. It includes first name, last name, and dates of their debuts as players, managers, coaches, and/or umpires.

The id field can be linked to by the following fields in game_logs:
    - Umpire ID fields :
          - hp_umpire_id,1b_umpire_id,2b_umpire_id,3b_umpire_id 
          
    - Manager ID fields :
        - v_manager_id, h_manager_id
    
    - Player ID fields:
        - winning_pitcher_id, losing_pitcher_id, saving_pitcher_id, winning_rbi_batter_id, v_starting_pitcher_id,h_starting_pitcher_id
        - v_player_[1-9]_id, h_player_[1-9]_id

In [8]:
team_codes = pd.read_csv("team_codes.csv")
team_codes

    team_id league  start   end           city         nickname franch_id  seq
0       ALT     UA   1884  1884        Altoona  Mountain Cities       ALT    1
1       ARI     NL   1998     0        Arizona     Diamondbacks       ARI    1
2       BFN     NL   1879  1885        Buffalo           Bisons       BFN    1
3       BFP     PL   1890  1890        Buffalo           Bisons       BFP    1
4       BL1    NaN   1872  1874      Baltimore         Canaries       BL1    1
5       BL2     AA   1882  1891      Baltimore          Orioles       BL2    1
6       BLN     NL   1892  1899      Baltimore          Orioles       BL2    2
7       BL4    NaN   1873  1873      Baltimore        Marylands       BL4    1
8       BLA     AL   1901  1902      Baltimore          Orioles       BLA    1
9       NYA     AL   1903     0       New York          Yankees       BLA    2
10      BLF     FL   1914  1915      Baltimore        Terrapins       BLF    1
11      BLU     UA   1884  1884      Baltimore           Unions       BLU    1
12      BOS     AL   1901     0         Boston          Red Sox       BOS    1
13      BR1    NaN   1872  1872       Brooklyn         Eckfords       BR1    1
14      BR2    NaN   1872  1875       Brooklyn        Atlantics       BR2    1
15      BR3     AA   1884  1889       Brooklyn          Dodgers       BR3    1
16      BRO     NL   1890  1957       Brooklyn          Dodgers       BR3    2
17      LAN     NL   1958     0    Los Angeles          Dodgers       BR3    3
18      BR4     AA   1890  1890       Brooklyn       Gladiators       BR4    1
19      BRF     FL   1914  1915       Brooklyn         Tip-Tops       BRF    1
20      BRP     PL   1890  1890       Brooklyn          Wonders       BRP    1
21      BS1    NaN   1871  1875         Boston           Braves       BS1    1
22      BSN     NL   1876  1952         Boston           Braves       BS1    2
23      MLN     NL   1953  1965      Milwaukee           Braves       BS1    3
24      ATL     NL   1966     0        Atlanta           Braves       BS1    4
25      BSP     PL   1890  1890         Boston             Reds       BSP    1
26      BS2     AA   1891  1891         Boston             Reds       BSP    2
27      BSU     UA   1884  1884         Boston             Reds       BSU    1
28      BUF     FL   1914  1915        Buffalo             Feds       BUF    1
29      CH1    NaN   1871  1871        Chicago  White Stockings       CH1    1
30      CH2    NaN   1874  1875        Chicago  White Stockings       CH2    1
31      CHN     NL   1876     0        Chicago             Cubs       CH2    2
32      CHA     AL   1901     0        Chicago        White Sox       CHA    1
33      CHF     FL   1914  1915        Chicago           Whales       CHF    1
34      CHP     PL   1890  1890        Chicago          Pirates       CHP    1
35      CHU     UA   1884  1884        Chicago           Unions       CHU    1
36      CL1    NaN   1871  1872      Cleveland    Forest Cities       CL1    1
37      CL2     NL   1879  1884      Cleveland          Spiders       CL2    1
38      CL3     AA   1887  1888      Cleveland          Spiders       CL3    1
39      CL4     NL   1889  1899      Cleveland          Spiders       CL3    2
40      CL5     AA   1883  1884       Columbus            Colts       CL5    1
41      CL6     AA   1889  1891       Columbus            Colts       CL6    1
42      CLE     AL   1901     0      Cleveland          Indians       CLE    1
43      CLP     PL   1890  1890      Cleveland          Infants       CLP    1
44      CN1     NL   1876  1880     Cincinnati             Reds       CN1    1
45      CN2     AA   1882  1889     Cincinnati             Reds       CN2    1
46      CIN     NL   1890     0     Cincinnati             Reds       CN2    2
47      CN3     AA   1891  1891     Cincinnati          Porkers       CN3    1
48      CNU     UA   1884  1884     Cincinnati      Outlaw Reds       CNU    1
49      COL     NL   1993     0       Colorado          Rockies       COL    1
50      DET     AL   1901     0        Detroit           Tigers       DET    1
51      DTN     NL   1881  1888        Detroit       Wolverines       DTN    1
52      ELI    NaN   1873  1873      Elizabeth        Resolutes       ELI    1
53      FLO     NL   1993  2011        Florida          Marlins       FLO    1
54      FW1    NaN   1871  1871      Ft. Wayne        Kekiongas       FW1    1
55      HOU     NL   1962     0        Houston           Astros       HOU    1
56      HR1    NaN   1874  1875       Hartford       Dark Blues       HR1    1
57      HAR     NL   1876  1877       Hartford       Dark Blues       HR1    2
58      IN1     NL   1878  1878   Indianapolis            Blues       IN1    1
59      IN2     AA   1884  1884   Indianapolis            Blues       IN2    1
60      IN3     NL   1887  1889   Indianapolis         Hoosiers       IN3    1
61      IND     FL   1914  1914   Indianapolis     Hoosier-Feds       IND    1
62      NEW     FL   1915  1915         Newark          Peppers       IND    2
63      KC2     AA   1888  1889    Kansas City            Blues       KC2    1
64      KCA     AL   1969     0    Kansas City           Royals       KCA    1
65      KCF     FL   1914  1915    Kansas City          Packers       KCF    1
66      KCN     NL   1886  1886    Kansas City          Cowboys       KCN    1
67      KCU     UA   1884  1884    Kansas City           Unions       KCU    1
68      KEO    NaN   1875  1875         Keokuk         Westerns       KEO    1
69      LAA     AL   1961  1964    Los Angeles           Angels       LAA    1
70      CAL     AL   1965  1996     California           Angels       LAA    2
71      ANA     AL   1997     0        Anaheim           Angels       LAA    3
72      LS1     NL   1876  1877     Louisville            Grays       LS1    1
73      LS2     AA   1882  1891     Louisville         Colonels       LS2    1
74      LS3     NL   1892  1899     Louisville         Colonels       LS2    2
75      MID    NaN   1872  1872     Middletown       Mansfields       MID    1
76      ML2     NL   1878  1878      Milwaukee      Cream Citys       ML1    1
77      ML3     AA   1891  1891      Milwaukee          Brewers       ML3    1
78      MLA     AL   1901  1901      Milwaukee          Brewers       MLA    1
79      SLA     AL   1902  1953      St. Louis           Browns       MLA    2
80      BAL     AL   1954     0      Baltimore          Orioles       MLA    3
81      MLU     UA   1884  1884      Milwaukee            Grays       MLU    1
82      MON     NL   1969  2004       Montreal            Expos       MON    1
83      WAS     NL   2005     0     Washington        Nationals       MON    2
84      NH1    NaN   1875  1875      New Haven       Elm Cities       NH1    1
85      NY2    NaN   1871  1875       New York          Mutuals       NY2    1
86      NY3     NL   1876  1876       New York          Mutuals       NY2    2
87      NY4     AA   1883  1887       New York    Metropolitans       NY4    1
88      NYN     NL   1962     0       New York             Mets       NYN    1
89      NYP     PL   1890  1890       New York           Giants       NYP    1
90      PH1    NaN   1871  1875   Philadelphia        Athletics       PH1    1
91      PHN     NL   1876  1876   Philadelphia        Athletics       PH1    2
92      PH2    NaN   1873  1875   Philadelphia  White Stockings       PH2    1
93      PH3    NaN   1875  1875   Philadelphia      Centennials       PH3    1
94      PH4     AA   1882  1891   Philadelphia        Athletics       PH4    1
95      PHI     NL   1883     0   Philadelphia         Phillies       PHI    1
96      PHA     AL   1901  1954   Philadelphia        Athletics       PHA    1
97      KC1     AL   1955  1967    Kansas City        Athletics       PHA    2
98      OAK     AL   1968     0        Oakland        Athletics       PHA    3
99      PHP     PL   1890  1890   Philadelphia          Quakers       PHP    1
100     PHU     UA   1884  1884   Philadelphia        Keystones       PHU    1
101     PRO     NL   1878  1885     Providence            Grays       PRO    1
102     PT1     AA   1882  1886     Pittsburgh          Pirates       PT1    1
103     PIT     NL   1887     0     Pittsburgh          Pirates       PT1    2
104     PTF     FL   1914  1915     Pittsburgh           Rebels       PTF    1
105     PTP     PL   1890  1890     Pittsburgh         Burghers       PTP    1
106     PTU     UA   1884  1884     Pittsburgh           Unions       PTU    1
107     RC1    NaN   1871  1871       Rockford     Forest Citys       RC1    1
108     RC2     AA   1890  1890      Rochester      Hop Bitters       RC2    1
109     RIC     AA   1884  1884       Richmond        Virginias       RIC    1
110     SDN     NL   1969     0      San Diego           Padres       SDN    1
111     SE1     AL   1969  1969        Seattle           Pilots       SE1    1
112     MIL     AL   1970  1997      Milwaukee          Brewers       SE1    2
113     MIL     NL   1998     0      Milwaukee          Brewers       SE1    3
114     SEA     AL   1977     0        Seattle         Mariners       SEA    1
115     SL1    NaN   1875  1875      St. Louis    Red Stockings       SL1    1
116     SL2    NaN   1875  1875      St. Louis  Brown Stockings       SL2    1
117     SL3     NL   1876  1877      St. Louis  Brown Stockings       SL2    2
118     SL4     AA   1882  1891      St. Louis        Cardinals       SL4    1
119     SLN     NL   1892     0      St. Louis        Cardinals       SL4    2
120     SLF     FL   1914  1915      St. Louis         Terriers       SLF    1
121     SLU     UA   1884  1884      St. Louis          Maroons       SLU    1
122     SL5     NL   1885  1886      St. Louis          Maroons       SLU    2
123     SPU     UA   1884  1884       St. Paul           Saints       SPU    1
124     SR1     NL   1879  1879       Syracuse            Stars       SR1    1
125     SR2     AA   1890  1890       Syracuse            Stars       SR2    1
126     TBA     AL   1998     0      Tampa Bay       Devil Rays       TBA    1
127     TL1     AA   1884  1884         Toledo   Blue Stockings       TL1    1
128     TL2     AA   1890  1890         Toledo          Maumees       TL2    1
129     TOR     AL   1977     0        Toronto        Blue Jays       TOR    1
130     TRN     NL   1879  1882           Troy          Trojans       TRN    1
131     NY1     NL   1883  1957       New York           Giants       TRN    2
132     SFN     NL   1958     0  San Francisco           Giants       TRN    3
133     TRO    NaN   1871  1872           Troy        Haymakers       TRO    1
134     WIL     UA   1884  1884     Wilmington       Quicksteps       WIL    1
135     WOR     NL   1880  1882      Worcester        Ruby Legs       WOR    1
136     WS1     AL   1901  1960     Washington         Senators       WS1    1
137     MIN     AL   1961     0      Minnesota            Twins       WS1    2
138     WS2     AL   1961  1971     Washington         Senators       WS2    1
139     TEX     AL   1972     0          Texas          Rangers       WS2    2
140     WS3    NaN   1871  1872     Washington         Olympics       WS3    1
141     WS4    NaN   1872  1872     Washington        Nationals       WS4    1
142     WS5    NaN   1873  1873     Washington        Nationals       WS5    1
143     WS6    NaN   1875  1875     Washington        Nationals       WS6    1
144     WS7     AA   1884  1884     Washington        Nationals       WS7    1
145     WS8     NL   1886  1889     Washington         Senators       WS8    1
146     WS9     AA   1891  1891     Washington         Senators       WS9    1
147     WSN     NL   1892  1899     Washington         Senators       WS9    2
148     WSU     UA   1884  1884     Washington        Nationals       WSU    1
149     MIA     NL   2012     0          Miami          Marlins       FLO    2

team_codes is a complete list of professional baseball teams listed in game_logs. It includes information on when the team existed and where it was located. There is also franchise information to identify if a team franchise moved locations and/or changed names.

The team_id column can be referenced by the v_name and h_name columns in game_log.

## Importing Data into SQLite

### Create Helper Functions

In [9]:
# These helper functions will be useful as we work
# with the SQLite database from python

DB = 'mlb.db'

def run_query(q):
    # Take an SQL query and return a pandas dataframe of the query
    with sqlite3.connect(DB) as conn:
        return pd.read_sql(q, conn)
    
def run_command(c):
    # Take an SQL command and execute it
    with sqlite3.connect(DB) as conn:
        conn.execute('PRAGMA foreign_keys = ON;')
        conn.isolation_level = None
        conn.execute(c)
    
def show_tables():
    # Return a list of all tables and views in the database
    q = '''SELECT
                name,
                type
            FROM sqlite_master
            WHERE type IN ("table","view");'''
    return run_query(q)

### Create Tables and Add game_id

In [10]:
with sqlite3.connect('mlb.db') as conn:
    game_log.to_sql('game_log', conn, index = False, if_exists = 'replace')
    park_codes.to_sql('park_codes', conn, index = False, if_exists = 'replace')
    person_codes.to_sql('person_codes', conn, index = False, if_exists = 'replace')
    team_codes.to_sql('team_codes', conn, index = False, if_exists = 'replace')
    
show_tables()

           name   type
0      game_log  table
1    park_codes  table
2  person_codes  table
3    team_codes  table

The game_log table does not have a unique index for each game. Add one in using a format used by Retrosheet's [event files](http://www.retrosheet.org/eventfile.htm) which contain details about what happened in each game. This will be convenient if the database is ever expanded to include game event information.

In [11]:
# use try to add column as there is not IF NOT EXISTS for ALTER
try:
    run_command("""
        ALTER TABLE game_log
        ADD COLUMN game_id TEXT;""")
except:
    pass

run_command("""
    UPDATE game_log
    SET game_id = h_name || date || number_of_game
    WHERE game_id IS NULL;""")

run_query("""
    SELECT 
        game_id,
        date,
        h_name,
        number_of_game
    FROM game_log LIMIT 5;
""")

        game_id      date h_name  number_of_game
0  FW1187105040  18710504    FW1               0
1  WS3187105050  18710505    WS3               0
2  RC1187105060  18710506    RC1               0
3  CH1187105080  18710508    CH1               0
4  TRO187105090  18710509    TRO               0

## Looking for Normalization Opportunities


#### game_log 


    - Can get rid of the [v/h]\_player\_[1-9]\_name columns and link the [v/h]\_player\_[1-9]\_id columns to the persons database for if we want to look up the name. Same for umpire, manager, and awards columns.

    - v_league and h_league may be able to be derived from team_codes.

    - Team statistic information is repeated for home and away team in the table. We can break this information out into a table that has one entry for each team appearance. This table will have double the rows of the game_log table.
    
    - Similarly, instead of listing each player for each game we can break this data out into a table of player appearances which would include their positions. The same can be done for the umpire, manager, and award winners lists.
    
    


#### park_codes

    - Can get rid of start and end years in park_codes table as this information can be reproduced from game log data.

#### player_codes

    - All debut dates can be reproduced using game log data.

#### team_codes

    - Start, end and sequence can all be reproduced from game log data.

## Planning a Normalized Schema

A [practice schema](dq-mlb-schema-small.png) was created using [dbdesigner](https://www.dbdesigner.net), but for the purposes of this project the schema provided by DataQuest will be used for further steps.

![dataquest schema](mlb-schema.png)

## Creating Tables Without Foreign Key Relations

Using the schema above we start by creating any tables with no foreign key relations as these will need to exist before we create the tables that reference them.

#### Person Table

In [12]:
create_person = """
    CREATE TABLE IF NOT EXISTS person(
        person_id TEXT PRIMARY KEY,
        first_name TEXT,
        last_name TEXT);"""

# populate person with fields from person_codes
populate_person = """
    INSERT OR IGNORE INTO person
    SELECT 
        id,
        first,
        last
    FROM person_codes;"""

run_command(create_person)
run_command(populate_person)

run_query("SELECT * FROM person LIMIT 5;")

  person_id first_name last_name
0  aardd001      David   Aardsma
1  aaroh101       Hank     Aaron
2  aarot101     Tommie     Aaron
3  aased001        Don      Aase
4  abada001       Andy      Abad

#### Park Table

In [13]:
create_park = """
    CREATE TABLE IF NOT EXISTS park(
        park_id TEXT PRIMARY KEY,
        name TEXT,
        nickname TEXT,
        city TEXT,
        state TEXT,
        notes TEXT);"""

# populate park with fields from park_codes
populate_park = """
    INSERT OR IGNORE INTO park
    SELECT 
        park_id, 
        name, 
        aka, 
        city, 
        state, 
        notes 
    FROM park_codes;"""

run_command(create_park)
run_command(populate_park)

run_query("SELECT * FROM park LIMIT 5;")

,park_id,name,nickname,city,state,notes
0,ALB01,Riverside Park,None,Albany,NY,TRN:9/11/80;6/15&9/10/1881;5/16-5/18&5/30/1882
1,ALT01,Columbia Park,None,Altoona,PA,None
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,None
3,ARL01,Arlington Stadium,None,Arlington,TX,None
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,None

#### League Table

In [14]:
create_league = """
    CREATE TABLE IF NOT EXISTS league(
        league_id TEXT PRIMARY KEY,
        name TEXT);"""

# populate league with researched league names from above
populate_league = """
    INSERT OR IGNORE INTO league
    VALUES ('NL','National League'),
        ('AL','American League'),
        ('AA','American Association'),
        ('FL','Federal League'),
        ('PL',"Players' League"),
        ('UA','Union Association');"""

run_command(create_league)
run_command(populate_league)

run_query("SELECT * FROM league")

  league_id                  name
0        NL       National League
1        AL       American League
2        AA  American Association
3        FL        Federal League
4        PL       Players' League
5        UA     Union Association

#### Appearance Type Table

In [15]:
create_appearance_type = """
    CREATE TABLE IF NOT EXISTS appearance_type(
        appearance_type_id TEXT PRIMARY KEY,
        name TEXT,
        category TEXT);"""

populate_appearance_type = """
    INSERT OR IGNORE INTO appearance_type
    VALUES (?,?,?);"""

# Read in provied appearance_type.csv and format as list of tuples
# for injection into SQL table
appearance_type = pd.read_csv("appearance_type.csv")
appearance_type_data = list(appearance_type.itertuples(index=False,name=None))

run_command(create_appearance_type)
with sqlite3.connect('mlb.db') as conn:
    conn.executemany(populate_appearance_type,appearance_type_data)
    
run_query("SELECT * FROM appearance_type;")

   appearance_type_id                name category
0                  O1            Batter 1  offense
1                  O2            Batter 2  offense
2                  O3            Batter 3  offense
3                  O4            Batter 4  offense
4                  O5            Batter 5  offense
5                  O6            Batter 6  offense
6                  O7            Batter 7  offense
7                  O8            Batter 8  offense
8                  O9            Batter 9  offense
9                  D1             Pitcher  defense
10                 D2             Catcher  defense
11                 D3            1st Base  defense
12                 D4            2nd Base  defense
13                 D5            3rd Base  defense
14                 D6           Shortstop  defense
15                 D7          Left Field  defense
16                 D8        Center Field  defense
17                 D9         Right Field  defense
18                D10    Unknown Position  defense
19                UHP          Home Plate   umpire
20                U1B          First Base   umpire
21                U2B         Second Base   umpire
22                U3B          Third Base   umpire
23                ULF          Left Field   umpire
24                URF         Right Field   umpire
25                 MM             Manager  manager
26                AWP     Winning Pitcher    award
27                ALP      Losing Pitcher    award
28                ASP      Saving Pitcher    award
29                AWB  Winning RBI Batter    award
30                PSP    Starting Pitcher  pitcher

##  Adding the Team and Game Tables

Next we add the team and game tables because they need to exist before we create the appearance tables that will point to them.

#### Team Table

In [16]:
create_team = """
    CREATE TABLE IF NOT EXISTS team(
        team_id TEXT PRIMARY KEY,
        league_id TEXT,
        city TEXT,
        nickname TEXT,
        franch_id TEXT,
        FOREIGN KEY (league_id) REFERENCES league(league_id));"""

# populate team with fields from team_codes
populate_team = """
    INSERT OR IGNORE INTO team
    SELECT 
        team_id,
        league,
        city,
        nickname,
        franch_id
    FROM team_codes;"""

run_command(create_team)
run_command(populate_team)

run_query("SELECT * FROM team LIMIT 5;")

  team_id league_id       city         nickname franch_id
0     ALT        UA    Altoona  Mountain Cities       ALT
1     ARI        NL    Arizona     Diamondbacks       ARI
2     BFN        NL    Buffalo           Bisons       BFN
3     BFP        PL    Buffalo           Bisons       BFP
4     BL1      None  Baltimore         Canaries       BL1

#### Game Table

In [17]:
create_game = """
    CREATE TABLE IF NOT EXISTS game(
        game_id TEXT PRIMARY KEY,
        date DATE,
        number_of_game INTEGER,
        park_id TEXT,
        length_outs INTEGER,
        day BOOLEAN,
        completion TEXT,
        forfeit TEXT,
        protest TEXT,
        attendance INTEGER,
        length_minutes INTEGER,
        additional_info TEXT,
        acquisition_info TEXT,
        FOREIGN KEY (park_id) REFERENCES park(park_id));"""


# populate game with game-specific fields from game_log
populate_game = """
    INSERT OR IGNORE INTO game
    SELECT game_id,
        date,
        number_of_game,
        park_id,
        length_outs,
        CASE 
            WHEN day_night = 'D' THEN 1
            WHEN day_night = 'N' THEN 0
            ELSE NULL
            END as day,
        completion,
        forefeit,
        protest,
        attendance,
        length_minutes,
        additional_info,
        acquisition_info
    FROM game_log;"""

run_command(create_game)
run_command(populate_game)

run_query("SELECT * FROM game LIMIT 5;")

,game_id,date,number_of_game,park_id,length_outs,day,completion,forfeit,protest,attendance,length_minutes,additional_info,acquisition_info
0,FW1187105040,18710504,0,FOR01,54,1,None,None,None,200,120,None,Y
1,WS3187105050,18710505,0,WAS01,54,1,None,None,None,5000,145,HTBF,Y
2,RC1187105060,18710506,0,RCK01,54,1,None,None,None,1000,140,None,Y
3,CH1187105080,18710508,0,CHI01,54,1,None,None,None,5000,150,None,Y
4,TRO187105090,18710509,0,TRO01,54,1,None,None,None,3250,145,HTBF,Y

## Adding the Team Appearance Table

Start by getting the schema from game_log in order create and populate the new table without having to type every single column.

In [18]:
game_log_schema = run_query("""
                SELECT sql FROM sqlite_master
                WHERE name = "game_log"
                  AND type = "table";""").iloc[0,0]
# Split the schema out into the strings used to create individual fields
game_log_fields = game_log_schema.split('\n')[1:]
game_log_fields = [field.strip().replace('"','') for field in game_log_fields]
game_log_fields

['date INTEGER,',
 'number_of_game INTEGER,',
 'day_of_week TEXT,',
 'v_name TEXT,',
 'v_league TEXT,',
 'v_game_number INTEGER,',
 'h_name TEXT,',
 'h_league TEXT,',
 'h_game_number INTEGER,',
 'v_score INTEGER,',
 'h_score INTEGER,',
 'length_outs REAL,',
 'day_night TEXT,',
 'completion TEXT,',
 'forefeit TEXT,',
 'protest TEXT,',
 'park_id TEXT,',
 'attendance REAL,',
 'length_minutes REAL,',
 'v_line_score TEXT,',
 'h_line_score TEXT,',
 'v_at_bats REAL,',
 'v_hits REAL,',
 'v_doubles REAL,',
 'v_triples REAL,',
 'v_homeruns REAL,',
 'v_rbi REAL,',
 'v_sacrifice_hits REAL,',
 'v_sacrifice_flies REAL,',
 'v_hit_by_pitch REAL,',
 'v_walks REAL,',
 'v_intentional_walks REAL,',
 'v_strikeouts REAL,',
 'v_stolen_bases REAL,',
 'v_caught_stealing REAL,',
 'v_grounded_into_double REAL,',
 'v_first_catcher_interference REAL,',
 'v_left_on_base REAL,',
 'v_pitchers_used REAL,',
 'v_individual_earned_runs REAL,',
 'v_team_earned_runs REAL,',
 'v_wild_pitches REAL,',
 'v_balks REAL,',
 'v_putouts REAL,',
 'v_assists REAL,',
 'v_errors REAL,',
 'v_passed_balls REAL,',
 'v_double_plays REAL,',
 'v_triple_plays REAL,',
 'h_at_bats REAL,',
 'h_hits REAL,',
 'h_doubles REAL,',
 'h_triples REAL,',
 'h_homeruns REAL,',
 'h_rbi REAL,',
 'h_sacrifice_hits REAL,',
 'h_sacrifice_flies REAL,',
 'h_hit_by_pitch REAL,',
 'h_walks REAL,',
 'h_intentional_walks REAL,',
 'h_strikeouts REAL,',
 'h_stolen_bases REAL,',
 'h_caught_stealing REAL,',
 'h_grounded_into_double REAL,',
 'h_first_catcher_interference REAL,',
 'h_left_on_base REAL,',
 'h_pitchers_used REAL,',
 'h_individual_earned_runs REAL,',
 'h_team_earned_runs REAL,',
 'h_wild_pitches REAL,',
 'h_balks REAL,',
 'h_putouts REAL,',
 'h_assists REAL,',
 'h_errors REAL,',
 'h_passed_balls REAL,',
 'h_double_plays REAL,',
 'h_triple_plays REAL,',
 'hp_umpire_id TEXT,',
 'hp_umpire_name TEXT,',
 '1b_umpire_id TEXT,',
 '1b_umpire_name TEXT,',
 '2b_umpire_id TEXT,',
 '2b_umpire_name TEXT,',
 '3b_umpire_id TEXT,',
 '3b_umpire_name TEXT,',
 'lf_umpire_id TEXT,',
 'lf_umpire_name TEXT,',
 'rf_umpire_id TEXT,',
 'rf_umpire_name TEXT,',
 'v_manager_id TEXT,',
 'v_manager_name TEXT,',
 'h_manager_id TEXT,',
 'h_manager_name TEXT,',
 'winning_pitcher_id TEXT,',
 'winning_pitcher_name TEXT,',
 'losing_pitcher_id TEXT,',
 'losing_pitcher_name TEXT,',
 'saving_pitcher_id TEXT,',
 'saving_pitcher_name TEXT,',
 'winning_rbi_batter_id TEXT,',
 'winning_rbi_batter_id_name TEXT,',
 'v_starting_pitcher_id TEXT,',
 'v_starting_pitcher_name TEXT,',
 'h_starting_pitcher_id TEXT,',
 'h_starting_pitcher_name TEXT,',
 'v_player_1_id TEXT,',
 'v_player_1_name TEXT,',
 'v_player_1_def_pos REAL,',
 'v_player_2_id TEXT,',
 'v_player_2_name TEXT,',
 'v_player_2_def_pos REAL,',
 'v_player_3_id TEXT,',
 'v_player_3_name TEXT,',
 'v_player_3_def_pos REAL,',
 'v_player_4_id TEXT,',
 'v_player_4_name TEXT,',
 'v_player_4_def_pos REAL,',
 'v_player_5_id TEXT,',
 'v_player_5_name TEXT,',
 'v_player_5_def_pos REAL,',
 'v_player_6_id TEXT,',
 'v_player_6_name TEXT,',
 'v_player_6_def_pos REAL,',
 'v_player_7_id TEXT,',
 'v_player_7_name TEXT,',
 'v_player_7_def_pos REAL,',
 'v_player_8_id TEXT,',
 'v_player_8_name TEXT,',
 'v_player_8_def_pos REAL,',
 'v_player_9_id TEXT,',
 'v_player_9_name TEXT,',
 'v_player_9_def_pos REAL,',
 'h_player_1_id TEXT,',
 'h_player_1_name TEXT,',
 'h_player_1_def_pos REAL,',
 'h_player_2_id TEXT,',
 'h_player_2_name TEXT,',
 'h_player_2_def_pos REAL,',
 'h_player_3_id TEXT,',
 'h_player_3_name TEXT,',
 'h_player_3_def_pos REAL,',
 'h_player_4_id TEXT,',
 'h_player_4_name TEXT,',
 'h_player_4_def_pos REAL,',
 'h_player_5_id TEXT,',
 'h_player_5_name TEXT,',
 'h_player_5_def_pos REAL,',
 'h_player_6_id TEXT,',
 'h_player_6_name TEXT,',
 'h_player_6_def_pos REAL,',
 'h_player_7_id TEXT,',
 'h_player_7_name TEXT,',
 'h_player_7_def_pos REAL,',
 'h_player_8_id TEXT,',
 'h_player_8_name TEXT,',
 'h_player_8_def_pos REAL,',
 'h_player_9_id TEXT,',
 'h_player_9_name TEXT,',
 'h_player_9_def_pos REAL,',
 'additional_info TEXT,',
 'acquisition_info TEXT',
 ', game_id TEXT)']

For creating the team_appearance table, use the stats fields which are elements 21 through 48 in the list of fields from the game_log schema. We'll remove the prefix 'v_' to make these new fields universal and change all of the stats fields to integer as this will not lose any information and will be more convenient.

In [19]:
# Make writing the create command easier by identifying the stats fields,
# removing the 'v_' prefix and creating a single string out of them.
create_fields = [field.replace('v_','').replace('REAL','INTEGER') for field in game_log_fields]
create_fields = create_fields[21:49]
create_fields_string = '\n        '.join(create_fields)

create_team_appearance = """
    CREATE TABLE IF NOT EXISTS team_appearance(
        team_id TEXT,
        game_id TEXT,
        home BOOLEAN,
        league_id TEXT,
        score INTEGER,
        line_score TEXT,
        """ + create_fields_string + """
        PRIMARY KEY (team_id, game_id),
        FOREIGN KEY (team_id) REFERENCES team(team_id),
        FOREIGN KEY (game_id) REFERENCES game(game_id),
        FOREIGN KEY (league_id) REFERENCES league(league_id));"""
print(create_team_appearance)

    CREATE TABLE IF NOT EXISTS team_appearance(
        team_id TEXT,
        game_id TEXT,
        home BOOLEAN,
        league_id TEXT,
        score INTEGER,
        line_score TEXT,
        at_bats INTEGER,
        hits INTEGER,
        doubles INTEGER,
        triples INTEGER,
        homeruns INTEGER,
        rbi INTEGER,
        sacrifice_hits INTEGER,
        sacrifice_flies INTEGER,
        hit_by_pitch INTEGER,
        walks INTEGER,
        intentional_walks INTEGER,
        strikeouts INTEGER,
        stolen_bases INTEGER,
        caught_stealing INTEGER,
        grounded_into_double INTEGER,
        first_catcher_interference INTEGER,
        left_on_base INTEGER,
        pitchers_used INTEGER,
        individual_earned_runs INTEGER,
        team_earned_runs INTEGER,
        wild_pitches INTEGER,
        balks INTEGER,
        putouts INTEGER,
        assists INTEGER,
        errors INTEGER,
        passed_balls INTEGER,
        double_plays INTEGER,
        triple_plays INTEGER,
        PRIMARY KEY (team_id, game_id),
        FOREIGN KEY (team_id) REFERENCES team(team_id),
        FOREIGN KEY (game_id) REFERENCES game(game_id),
        FOREIGN KEY (league_id) REFERENCES league(league_id));

For populating the table create strings of home and visiting stats columns to be used in writing the command. As noted before the visiting team stats are in fields 21 through 48. The home team stats are in fields 49 through 76.

In [20]:
# Need to strip out the type from each field, as these are
# going to be used in select statements. This isn't too difficult
# since each fields is of type REAL.
visiting_stats_fields = [field.replace(' REAL','') for field in game_log_fields[21:49]]
home_stats_fields = [field.replace(' REAL','') for field in game_log_fields[49:77]]

# create strings, removing last comma as these are the last fields in the select
visiting_stats_string = '\n        '.join(visiting_stats_fields)[:-1]
home_stats_string = '\n        '.join(home_stats_fields)[:-1]

populate_team_appearance = """
    INSERT OR IGNORE INTO team_appearance
    SELECT
        h_name,
        game_id,
        1,
        h_league,
        h_score,
        h_line_score,
        """ + home_stats_string + """
    FROM game_log
    
    UNION
    
    SELECT
        v_name,
        game_id,
        0,
        v_league,
        v_score,
        v_line_score,
        """ + visiting_stats_string + """
    FROM game_log;"""

#print(populate_team_appearance)

With the commands written - create, populate, and verify the new table.

In [21]:
run_command(create_team_appearance)
run_command(populate_team_appearance)

run_query("""
    SELECT * FROM team_appearance
    WHERE game_id = (SELECT game_id FROM game WHERE date = (SELECT MIN(date) FROM game)) OR game_id = (SELECT MAX(game_id) FROM game WHERE date = (SELECT MAX(date) FROM game))
    ORDER BY game_id, home;""")

,team_id,game_id,home,league_id,score,line_score,at_bats,hits,doubles,triples,homeruns,rbi,sacrifice_hits,sacrifice_flies,hit_by_pitch,walks,intentional_walks,strikeouts,stolen_bases,caught_stealing,grounded_into_double,first_catcher_interference,left_on_base,pitchers_used,individual_earned_runs,team_earned_runs,wild_pitches,balks,putouts,assists,errors,passed_balls,double_plays,triple_plays
0,CL1,FW1187105040,0,None,0,000000000,30,4,1,0,0,0,0,0,0,1,NaN,6,1,NaN,-1,NaN,4,1,1,1,0,0,27,9,0,3,0,0
1,FW1,FW1187105040,1,None,2,010010000,31,4,1,0,0,2,0,0,0,1,NaN,0,0,NaN,-1,NaN,3,1,0,0,0,0,27,3,3,1,1,0
2,MIA,WAS201610020,0,NL,7,000230020,38,14,1,1,2,7,1,0,0,3,2.0,10,1,1.0,1,0.0,8,7,10,10,1,0,24,11,0,0,1,0
3,WAS,WAS201610020,1,NL,10,03023002x,30,10,2,0,1,10,1,1,1,8,0.0,3,2,0.0,1,0.0,7,6,7,7,1,0,27,11,0,0,1,0

## Adding the Person Appearance Table

First a query to populate the table with all data from game_log columns for managers, umpires, pitchers and awards. This is quite long as we need to write a seperate SELECT statement for each of these columns.

In [22]:
create_person_appearance = """
    CREATE TABLE IF NOT EXISTS person_appearance(
        appearance_id INTEGER PRIMARY KEY,
        person_id TEXT,
        team_id TEXT,
        game_id TEXT,
        appearance_type_id TEXT,
        FOREIGN KEY (person_id) REFERENCES person(person_id),
        FOREIGN KEY (team_id) REFERENCES team(team_id),
        FOREIGN KEY (game_id) REFERENCES game(game_id),
        FOREIGN KEY (appearance_type_id) REFERENCES appearance_type(appearance_type_id));"""

populate_person_appearance_nonplayers = """
    INSERT OR IGNORE INTO person_appearance (
        game_id,
        team_id,
        person_id,
        appearance_type_id
    )
        SELECT
            game_id,
            NULL,
            hp_umpire_id,
            "UHP"
        FROM game_log
        WHERE hp_umpire_id IS NOT NULL

    UNION
    
        SELECT
            game_id,
            NULL,
            [1b_umpire_id],
            "U1B"
        FROM game_log
        WHERE [1b_umpire_id] IS NOT NULL

    UNION
    
        SELECT
            game_id,
            NULL,
            [2b_umpire_id],
            "U2B"
        FROM game_log
        WHERE [2b_umpire_id] IS NOT NULL

    UNION
    
        SELECT
            game_id,
            NULL,
            [3b_umpire_id],
            "U3B"
        FROM game_log
        WHERE [3b_umpire_id] IS NOT NULL

    UNION
    
        SELECT
            game_id,
            NULL,
            lf_umpire_id,
            "ULF"
        FROM game_log
        WHERE lf_umpire_id IS NOT NULL

    UNION

        SELECT
            game_id,
            NULL,
            rf_umpire_id,
            "URF"
        FROM game_log
        WHERE rf_umpire_id IS NOT NULL

    UNION

        SELECT
            game_id,
            v_name,
            v_manager_id,
            "MM"
        FROM game_log
        WHERE v_manager_id IS NOT NULL

    UNION

        SELECT
            game_id,
            h_name,
            h_manager_id,
            "MM"
        FROM game_log
        WHERE h_manager_id IS NOT NULL

    UNION

        SELECT
            game_id,
            CASE
                WHEN h_score > v_score THEN h_name
                ELSE v_name
                END,
            winning_pitcher_id,
            "AWP"
        FROM game_log
        WHERE winning_pitcher_id IS NOT NULL

    UNION

        SELECT
            game_id,
            CASE
                WHEN h_score > v_score THEN v_name
                ELSE h_name
                END,
            losing_pitcher_id,
            "ALP"
        FROM game_log
        WHERE losing_pitcher_id IS NOT NULL
        
    UNION

        SELECT
            game_id,
            CASE
                WHEN h_score > v_score THEN h_name
                ELSE v_name
                END,
            saving_pitcher_id,
            "ASP"
        FROM game_log
        WHERE saving_pitcher_id IS NOT NULL
        
    UNION

        SELECT
            game_id,
            CASE
                WHEN h_score > v_score THEN h_name
                ELSE v_name
                END,
            winning_rbi_batter_id,
            "AWB"
        FROM game_log
        WHERE winning_rbi_batter_id IS NOT NULL
        
    UNION
        
        SELECT
            game_id,
            h_name,
            h_starting_pitcher_id,
            "PSP"
        FROM game_log
        WHERE h_starting_pitcher_id IS NOT NULL
        
    UNION
    
        SELECT
            game_id,
            v_name,
            v_starting_pitcher_id,
            "PSP"
        FROM game_log
        WHERE v_starting_pitcher_id IS NOT NULL"""

To avoid writing an even longer query to populate the table with offensive and defensive player appearances - loop through all permutations of home/away and player number 1-10 and add each players offensive and defensive appearance to the new table using python string formatting.

In [23]:
populate_player_template = """
    INSERT INTO person_appearance (
        game_id,
        team_id,
        person_id,
        appearance_type_id
    ) 
        SELECT
            game_id,
            {hv}_name,
            {hv}_player_{num}_id,
            "O{num}"
        FROM game_log
        WHERE {hv}_player_{num}_id IS NOT NULL

    UNION

        SELECT
            game_id,
            {hv}_name,
            {hv}_player_{num}_id,
            "D" || CAST({hv}_player_{num}_def_pos AS INT)
        FROM game_log
        WHERE {hv}_player_{num}_id IS NOT NULL;
    """

run_command(create_person_appearance)
run_command(populate_person_appearance_nonplayers)

for hv in ["h","v"]:
    for num in range(1,10):
        query_vars = {
            "hv": hv,
            "num": num
        }
        run_command(populate_player_template.format(**query_vars))

Verify the new table.

In [24]:
print(run_query("SELECT COUNT(DISTINCT game_id) games_game FROM game"))
print(run_query("SELECT COUNT(DISTINCT game_id) games_person_appearance FROM person_appearance"))
run_query("""
SELECT
    pa.*,
    at.name,
    at.category
FROM person_appearance pa
INNER JOIN appearance_type at on at.appearance_type_id = pa.appearance_type_id
WHERE PA.game_id = "WAS201610020"
ORDER BY team_id, appearance_type_id""")

   games_game
0      171907
   games_person_appearance
0                   171907

,appearance_id,person_id,team_id,game_id,appearance_type_id,name,category
0,1591102,porta901,None,WAS201610020,U1B,First Base,umpire
1,1591101,onorb901,None,WAS201610020,U2B,Second Base,umpire
2,1591100,kellj901,None,WAS201610020,U3B,Third Base,umpire
3,1591103,tumpj901,None,WAS201610020,UHP,Home Plate,umpire
4,1591104,brica001,MIA,WAS201610020,ALP,Losing Pitcher,award
5,6706897,koeht001,MIA,WAS201610020,D1,Pitcher,defense
6,4735171,telit001,MIA,WAS201610020,D2,Catcher,defense
7,5580199,bourj002,MIA,WAS201610020,D3,1st Base,defense
8,4453495,gordd002,MIA,WAS201610020,D4,2nd Base,defense
9,5016847,pradm001,MIA,WAS201610020,D5,3rd Base,defense
10,6425227,hecha001,MIA,WAS201610020,D6,Shortstop,defense
11,5861875,scrux001,MIA,WAS201610020,D7,Left Field,defense
12,5298523,yelic001,MIA,WAS201610020,D8,Center Field,defense
13,6143551,hoodd001,MIA,WAS201610020,D9,Right Field,defense
14,1591106,mattd001,MIA,WAS201610020,MM,Manager,manager
15,4453496,gordd002,MIA,WAS201610020,O1,Batter 1,offense
16,4735172,telit001,MIA,WAS201610020,O2,Batter 2,offense
17,5016848,pradm001,MIA,WAS201610020,O3,Batter 3,offense
18,5298524,yelic001,MIA,WAS201610020,O4,Batter 4,offense
19,5580200,bourj002,MIA,WAS201610020,O5,Batter 5,offense
20,5861876,scrux001,MIA,WAS201610020,O6,Batter 6,offense
21,6143552,hoodd001,MIA,WAS201610020,O7,Batter 7,offense
22,6425228,hecha001,MIA,WAS201610020,O8,Batter 8,offense
23,6706898,koeht001,MIA,WAS201610020,O9,Batter 9,offense
24,1591105,koeht001,MIA,WAS201610020,PSP,Starting Pitcher,pitcher
25,1591109,melam001,WAS,WAS201610020,ASP,Saving Pitcher,award
26,1591108,difow001,WAS,WAS201610020,AWB,Winning RBI Batter,award
27,1591110,schem001,WAS,WAS201610020,AWP,Winning Pitcher,award
28,4171819,schem001,WAS,WAS201610020,D1,Pitcher,defense
29,3890143,lobaj001,WAS,WAS201610020,D2,Catcher,defense
30,2763439,zimmr001,WAS,WAS201610020,D3,1st Base,defense
31,3326791,difow001,WAS,WAS201610020,D4,2nd Base,defense
32,3045115,drews001,WAS,WAS201610020,D5,3rd Base,defense
33,3608467,espid001,WAS,WAS201610020,D6,Shortstop,defense
34,2200087,reveb001,WAS,WAS201610020,D7,Left Field,defense
35,1918411,turnt001,WAS,WAS201610020,D8,Center Field,defense
36,2481763,harpb003,WAS,WAS201610020,D9,Right Field,defense
37,1591107,baked002,WAS,WAS201610020,MM,Manager,manager
38,1918412,turnt001,WAS,WAS201610020,O1,Batter 1,offense
39,2200088,reveb001,WAS,WAS201610020,O2,Batter 2,offense
40,2481764,harpb003,WAS,WAS201610020,O3,Batter 3,offense
41,2763440,zimmr001,WAS,WAS201610020,O4,Batter 4,offense
42,3045116,drews001,WAS,WAS201610020,O5,Batter 5,offense
43,3326792,difow001,WAS,WAS201610020,O6,Batter 6,offense
44,3608468,espid001,WAS,WAS201610020,O7,Batter 7,offense
45,3890144,lobaj001,WAS,WAS201610020,O8,Batter 8,offense
46,4171820,schem001,WAS,WAS201610020,O9,Batter 9,offense
47,1591111,schem001,WAS,WAS201610020,PSP,Starting Pitcher,pitcher

## Removing the Original Tables

Now that all the normalized tables are created we can drop the tables imported from the original four CSVs.

In [25]:
show_tables()

                 name   type
0            game_log  table
1          park_codes  table
2        person_codes  table
3          team_codes  table
4              person  table
5                park  table
6              league  table
7     appearance_type  table
8                team  table
9                game  table
10    team_appearance  table
11  person_appearance  table

In [26]:
run_command("DROP TABLE game_log;")
run_command("DROP TABLE park_codes;")
run_command("DROP TABLE team_codes;")
run_command("DROP TABLE person_codes;")

show_tables()

                name   type
0             person  table
1               park  table
2             league  table
3    appearance_type  table
4               team  table
5               game  table
6    team_appearance  table
7  person_appearance  table

## Future Steps
* Transform the the dates into a SQLite compatible format.
* Extract the line scores into innings level data in a new table.
* Create views to make querying stats easier, eg:
    * Season level stats.
    * All time records.
* Supplement the database using new data, for instance:
    * Add data from retrosheet game logs for years after 2016.
    * Source and add missing pitcher information.
    * Add player level per-game stats.
    * Source and include base coach data.